.navbar {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    box-sizing: border-box;
    position: relative;
    z-index: 10;
}

.social-links a {
    text-decoration: none;
    margin-right: 10px;
    font-size: 20px;
    color: #333;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #007bff;
}

.main-nav a, .secondary-nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    font-weight: bold;
}

.logo-link {
    text-decoration: none;
    position: relative;
    display: inline-block;
    text-align: center;
}

.logo-link img {
    height: 40px;
    display: block;
    margin: 0 auto;
}

.logo-highlight {
    width: 50%;
    height: 3px;
    background-color: #007bff;
    position: absolute;
    bottom: -5px;
    left: 25%;
}

.contact-number {
    padding: 5px 10px;
    font-weight: bold;
    color: #333;
    border-radius: 5px;
}

.banner {
    background-image: url('images/fa.jpg');
    background-size: cover;
    background-position: top;
    height: 500px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    
}

.text-box {
    background-color: #fff;
    padding: 20px;
    max-width: 300px;
    margin-left: 363px;
}

.text-box h1 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.text-box p {
    font-size: 14px;
    color: #666;
}

.text-box button {
    background-color: yellow;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

.cards {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f9f9f9;
}

.card {
    width: 22%;
    text-align: center;
    background-color: #fff;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
}

.card img {
    width: 50px;
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}
